In [1]:
import sys
!{sys.executable} -m pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\sboot\projects\python-training\env\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sboot\projects\python-training\env\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sboot\projects\python-training\env\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sboot\projects\python-training\env\lib\site-packages (from matplotlib) (4.41.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sboot\projects\python-training\env\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\sboot\projects\python-training\env\lib\site-packages (from matplotlib) (1.25.1)
Requirement already satisfied: packaging>=20.0 in c:\users\sboot\projects\python-training\env\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sboot\projects\python-training\env\lib\site-packages (from matplotlib) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\sboot\projects\python-training\env\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sboot\projects\python-training\env\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sboot\projects\python-training\env\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from pandas import Series, DataFrame

# Series
A series is a one-dimensional array-like object containing a sequence of values and an assoicated array of data labels, called its *index*.

In [5]:
obj = pd.Series([9,8,10,1])
obj

0     9
1     8
2    10
3     1
dtype: int64

Above the left side is the *index*. When not specify the defualt is 0-1
The right side is the given values.

In [6]:
obj.values

array([ 9,  8, 10,  1], dtype=int64)

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
obj2 = pd.Series([4,7,-5,3], index = ['d','b','a','c'])

In [9]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [10]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [11]:
obj2['a']

-5

In [12]:
obj2['b']

7

The next line will only show values greater than 0

In [13]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [14]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

Now use numpy and the .exp library

In [15]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [16]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [17]:
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

# Dictonary 
the sdata is a dictonary I created. If I want to change the order on how this is printed do the followin:

In [18]:
states = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata, index=states)

In [19]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

Now to add a value for California, I need to redefine sdata

In [20]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000, 'California':58000}

In [21]:
obj4 = pd.Series(sdata, index= states)
obj4

California    58000
Ohio          35000
Oregon        16000
Texas         71000
dtype: int64

# Detect missing data
Use the pd.isnull(variable) or the pd.notnull(variable)

In [22]:
states = ['Kentucky','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata, index=states)
obj4

Kentucky        NaN
Ohio        35000.0
Oregon      16000.0
Texas       71000.0
dtype: float64

In [23]:
pd.isnull(obj4)

Kentucky     True
Ohio        False
Oregon      False
Texas       False
dtype: bool

In [26]:
pd.notnull(obj4)

Kentucky    False
Ohio         True
Oregon       True
Texas        True
dtype: bool

In [25]:
obj4.isnull()

Kentucky     True
Ohio        False
Oregon      False
Texas       False
dtype: bool

In [27]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [29]:
obj4.name = 'population'
obj4.index.name ='state'

In [30]:
obj4

state
Kentucky        NaN
Ohio        35000.0
Oregon      16000.0
Texas       71000.0
Name: population, dtype: float64

# DataFrame